// Text
// Typography
$font-family: $font-family; // * Change in _variables.scss
$bold: 700 !default;
$semibold: 600 !default;
$normal: 500 !default;
$light: 300 !default;

// Font Sizes
h1 {
  font-size: 4.0625rem; //65px
}

h2 {
  font-size: 2.5rem; //40px
}

h3 {
  font-size: 1.5rem; //24px
}

h4 {
  font-size: 1.25rem; //20px
}

h5 {
  font-size: 1rem; //16px
}

h6 {
  font-size: 0.875rem; //14px
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.text-black {
  color: $black !important;
}

.text-white {
  color: $white !important;
}

.text-grey {
  color: $text-grey !important;
}
