// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 { font-size: $h1; line-height: 1.2;  letter-spacing: -.1rem;  }
h2 { font-size: $h2; line-height: 1.25; letter-spacing: -.1rem;  }
h3 { font-size: $h3; line-height: 1.3;  letter-spacing: -.1rem;  }
h4 { font-size: $h4; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: $h5; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: $h6; line-height: 1.6;  letter-spacing: 0;       }

// Larger than phablet
// @media (#{$bp-larger-than-phablet}) {
//   h1 { font-size: $h1l; }
//   h2 { font-size: $h2l; }
//   h3 { font-size: $h3l; }
//   h4 { font-size: $h4l; }
//   h5 { font-size: $h5l; }
//   h6 { font-size: $h6l; }
// }

p {
  margin-top: 0;
}

 // Non-Standard Font Face Imports
//––––––––––––––––––––––––––––––––––––––––––––––––––

/* Light */
@font-face {
  font-family: 'Gibson';
  src: url('/fonts/Gibson-Light.eot');
  src: url('/fonts/Gibson-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gibson-Light.woff') format('woff'),
        url('/fonts/Gibson-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* Normal */
@font-face {
    font-family: 'Gibson';
    src: url('/fonts/Gibson-Regular.eot');
    src: url('/fonts/Gibson-Regular.eot?#iefix') format('embedded-opentype'),
            url('/fonts/Gibson-Regular.woff') format('woff'),
            url('/fonts/Gibson-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* SemiBold */
@font-face {
    font-family: 'Gibson';
    src: url('./fonts/Gibson-SemiBold.eot');
    src: url('./fonts/Gibson-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gibson-SemiBold.woff') format('woff'),
        url('./fonts/Gibson-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

/* Bold */
@font-face {
    font-family: 'Gibson';
    src: url('./fonts/Gibson-Bold.eot');
    src: url('./fonts/Gibson-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gibson-Bold.woff') format('woff'),
        url('./fonts/Gibson-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Light + Italic */
@font-face {
    font-family: 'Gibson';
    src: url('./fonts/Gibson-LightItalic.eot');
    src: url('./fonts/Gibson-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gibson-LightItalic.woff') format('woff'),
        url('./fonts/Gibson-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Normal + Italic */
@font-face {
    font-family: 'Gibson';
    src: url('./fonts/Gibson-Italic.eot');
    src: url('./fonts/Gibson-Italic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gibson-Italic.woff') format('woff'),
        url('./fonts/Gibson-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* SemiBold + Italic */
@font-face {
    font-family: 'Gibson';
    src: url('./fonts/Gibson-SemiBoldItalic.eot');
    src: url('./fonts/Gibson-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gibson-SemiBoldItalic.woff') format('woff'),
        url('./fonts/Gibson-SemiBoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

/* Bold + Italic */
@font-face {
    font-family: 'Gibson';
    src: url('./fonts/Gibson-BoldItalic.eot');
    src: url('./fonts/Gibson-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gibson-BoldItalic.woff') format('woff'),
        url('./fonts/Gibson-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
