// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––


// Div Alignment
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

/* TEXT ALIGNMENT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tc {
	text-align: center;
}

/* CASE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.caps {
	text-transform: uppercase;
}

/* LETTER SPACING
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tracked {
	letter-spacing: .1em;
}