// Utility Classes
//––––––––––––––––––––––––––––––––––––––––––––––––––
// TEXT COLORS
//––––––––––––––––––––––––––––––––––––––––––––––––––
.text-light {
  color: $text-light;
}

// FADED COLORS
//––––––––––––––––––––––––––––––––––––––––––––––––––
.faded-90 {
  opacity: 0.9;
}

.faded-75 {
  opacity: 0.75;
}

.faded-50 {
  opacity: 0.5;
}

// POSITIONING
//––––––––––––––––––––––––––––––––––––––––––––––––––
.p-abs {
  position: absolute;
}

.p-rel {
  position: relative;
}

// DISPLAY TYPES
//––––––––––––––––––––––––––––––––––––––––––––––––––
.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* OVERFLOWS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.o-h {
  overflow: hidden;
}

.ox-h {
  overflow-x: hidden;
}

.oy-h {
  overflow-y: hidden;
}

/* SPACING
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: $m1;
}

.m-2 {
  margin: $m2;
}

.m-3 {
  margin: $m3;
}

.m-4 {
  margin: $m4;
}

.m-5 {
  margin: $m5;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: $m1;
  margin-bottom: $m1;
}

.my-2 {
  margin-top: $m2;
  margin-bottom: $m2;
}

.my-3 {
  margin-top: $m3;
  margin-bottom: $m3;
}

.my-4 {
  margin-top: $m4;
  margin-bottom: $m4;
}

.my-5 {
  margin-top: $m5;
  margin-bottom: $m5;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: $m1;
}

.mt-2 {
  margin-top: $m2;
}

.mt-3 {
  margin-top: $m3;
}

.mt-4 {
  margin-top: $m4;
}

.mt-5 {
  margin-top: $m5;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: $m1;
}

.mb-2 {
  margin-bottom: $m2;
}

.mb-3 {
  margin-bottom: $m3;
}

.mb-4 {
  margin-bottom: $m4;
}

.mb-5 {
  margin-bottom: $m5;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: $m1;
  margin-right: $m1;
}

.mx-2 {
  margin-left: $m2;
  margin-right: $m2;
}

.mx-3 {
  margin-left: $m3;
  margin-right: $m3;
}

.mx-4 {
  margin-left: $m4;
  margin-right: $m4;
}

.mx-5 {
  margin-left: $m5;
  margin-right: $m5;
}

.ml-auto {
  margin-left: auto;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: $m1;
}

.ml-2 {
  margin-left: $m2;
}

.ml-3 {
  margin-left: $m3;
}

.ml-4 {
  margin-left: $m4;
}

.ml-5 {
  margin-left: $m5;
}

.mr-auto {
  margin-right: auto;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: $m1;
}

.mr-2 {
  margin-right: $m2;
}

.mr-3 {
  margin-right: $m3;
}

.mr-4 {
  margin-right: $m4;
}

.mr-5 {
  margin-right: $m5;
}

.py-auto {
  padding: auto 0;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: $p1;
}

.p-2 {
  padding: $p2;
}

.p-3 {
  padding: $p3;
}

.p-4 {
  padding: $p4;
}

.p-5 {
  padding: $p5;
}

.py-1 {
  padding-top: $p1;
  padding-bottom: $p1;
}

.py-2 {
  padding-top: $p2;
  padding-bottom: $p2;
}

.py-3 {
  padding-top: $p3;
  padding-bottom: $p3;
}

.py-4 {
  padding-top: $p4;
  padding-bottom: $p4;
}

.py-5 {
  padding-top: $p5;
  padding-bottom: $p5;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: $p1;
}

.pt-2 {
  padding-top: $p2;
}

.pt-3 {
  padding-top: $p3;
}

.pt-4 {
  padding-top: $p4;
}

.pt-5 {
  padding-top: $p5;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: $p1;
}

.pb-2 {
  padding-bottom: $p2;
}

.pb-3 {
  padding-bottom: $p3;
}

.pb-4 {
  padding-bottom: $p4;
}

.pb-5 {
  padding-bottom: $p5;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: $p1;
  padding-right: $p1;
}

.px-2 {
  padding-left: $p2;
  padding-right: $p2;
}

.px-3 {
  padding-left: $p3;
  padding-right: $p3;
}

.px-4 {
  padding-left: $p4;
  padding-right: $p4;
}

.px-5 {
  padding-left: $p5;
  padding-right: $p5;
}

.pl-1 {
  padding-left: $p1;
}

.pl-2 {
  padding-left: $p2;
}

.pl-3 {
  padding-left: $p3;
}

.pl-4 {
  padding-left: $p4;
}

.pl-5 {
  padding-left: $p5;
}

// Div Alignment
.w-100 {
  width: 100%;
  box-sizing: border-box;
}

.h-100 {
  height: 100%;
  box-sizing: border-box;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  justify-items: center;
}

/* TEXT ALIGNMENT
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* TEXT DECORATION
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.td-none {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

/* CASE
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.caps {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

/* LETTER SPACING
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.tracked {
  letter-spacing: 0.1em;
}

/* FONT WEIGHTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.normal {
  font-weight: $normal !important;
}

.light {
  font-weight: $light !important;
}

.semibold {
  font-weight: 600 !important;
}

.bold {
  font-weight: $bold !important;
}

/* CLEARFIX: If you use floats, you can add a div with a class of 'clearfix' to prevent overflow on some other elements.
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

.clearfix {
  display: block;
}

/* Mouse
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.cursor {
  cursor: pointer;
}