// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––


// Div Alignment
.mw-100 {
  width: 100%;
  box-sizing: border-box;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

/* TEXT ALIGNMENT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tc {
	text-align: center;
}

/* CASE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.caps {
	text-transform: uppercase;
}

/* LETTER SPACING
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tracked {
	letter-spacing: .1em;
}