// Styles specific to this project
//––––––––––––––––––––––––––––––––––––––––––––––––––

body {
  background-color: $bg;
}

.header {
  position: relative;
  top: 0;
  width: 100%;
  background-color: $primary-color;
  .navBar {
    margin: 0 auto;
    max-width: 1200px;
  }
}

.container {
  position: relative;
  width: 100%;
  min-height: $container-height;
  margin: 0 auto;
}

.page-wrapper {
  max-width: $page-wrapper-width;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  width: 100px;
  position: relative;
  top: 5px;
  left: 20px;
}

.hero-title {
  margin-top: 150px;
}

.section-title, .section-sub {
  transition: all .1s ease-in-out;
}

@media screen and (max-width: 1240px) {
  .section-title {
    font-size: 50px;
  }
  .section-sub {
    font-size: 40px;
  }
}

.card-wrapper {
  display: grid;
  padding: 0 20px;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  grid-gap: 5rem;
  margin-bottom: 150px;
}

.card {
  background-color: $primary-color;
  padding-top: 20px;
  border-radius: 10px;
  justify-content: center;
  background-color: $white;
  box-shadow: $box-shadow2;
  transition: $ease-all;
  &:hover {
    box-shadow: $box-shadow2;
    transform: translate(0, -10px);
  }
}

.card-img img{
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
}

.card-title {
  display: block;
  height: 80px;
}

.footer {
  height: 110px;
  margin: 0 auto;
  width: 100%;
  background-color: $primary-color;
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
}

.footer-logo {
  margin-top: 20px;
  width: 50px;
  vertical-align: middle;
	text-align: center;
}

.footer-email {
  margin-top: 38px;
  &:hover {
    text-decoration: underline;
  }
}

.footer-icons {
  margin: 35px auto;
}

.footer-icon {
  padding: 0 20px;
}

.footer-bg {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: $primary-color;
}

a svg path{
  transition: 100ms;
  transition-timing-function: ease-in-out;
  &:hover {
    fill: $link-hover-color;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 0 20px;
  }
  .footer-logo {
    transition: all .2s ease-in-out;
    width: 35px;
    margin-top: 30px;
  }
  .footer-email {
    font-size: 15px;
    text-align: center;
  }
  .footer-icon {
    width: 15px;
    padding: 0 10px;
  }
}

// NAVBAR
#mainNavBar {
  padding-bottom: 4rem;
}

.navBar a{
  z-index: 100;
  float: right;
  color: $white;
  padding: 20px 16px 20px 40px;
  text-decoration: none;
  font-size: $h6;
}

.navBar {
  background-color: $primary-color;
  z-index: 100;
  :hover{
    color: $link-hover-color;
  }
  :active {
    color: $link-active-color;
  } 
}

/*Hides the menu Icon which will show when the nav needs to be responsive*/
.navBar .icon{
  display: none;
}

/*Set your custom screen width here replacing 700*/
@media (max-width: 700px){
/*Ignores the first link (which is Home) in the div and       applies 'display = none' to everything else.   Basically hiding everything but Home*/
  .navBar a {
    background-color: $primary-color;
    display: none;
  }

/*Brings the menu icon into view and floats it to the right*/
  .navBar a.icon{
    display: block; 
    float: right;
    font-size: 35px;
    margin-right: 10px;
  }
  
/*The navBar class will be changed to 'navBar responsive' using JS. This chunk of CSS makes the menu icon stay where it is by making the position absolute within it's parent 'right top corner'. Without this, the icon will get kicked around when the items are collapsed and expanded*/
  .navBar.responsive {
    position: relative;
  }
  .navBar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
/*Removes the originally set float and brings them to view*/
  .navBar.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}
